name: Continous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: 'actions/checkout@v2'

      - id: 'SSH-and-deploy-app'
        uses: 'google-github-actions/ssh-compute@v0'
        with:
          instance_name: 'instance-2'
          zone: 'asia-southeast2-a'
          ssh_private_key: ${{secrets.SSH_KEY}}
          command: |
            cd ~/forumapi
            git pull origin main
            npm install
            npm run migrate up
            pm2 restart forumapi
